
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1 align="center">TTS 테스트 페이지</h1>
        <form action='/' method='post'>
            <div align="center" style="margin: 0 auto; height: 20px; width: 550px;">
                <h5 align='left' style="color:red">입력문장 마지막에 꼭 물음표 혹은 마침표를 입력 후 합성해주세요.</h5>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" width="550" height="30" align="center">
                <tbody><tr aling = 'center'>
                    <td width="35" align="left">Speed: </td>
                    <td width="5"></td>
                    <td width="48" align="right">
                    <select name="spd" id="spd" style="width:48px;height:20px">
                        <option value="0.7">+3</option>
                        <option value="0.8">+2</option>
                        <option value="0.9">+1</option>
                        <option selected value="1.0">0</option>
                        <option value="1.1">-1</option>
                        <option value="1.2">-2</option>
                        <option value="1.3">-3</option>
                    </select>
                    </td>
                    <td width="10"></td>
                    <td width="35" align="center">Pitch: </td>
                    <td width="5"></td>
                    <td width="48" align="left">
                    <select name="pitch" id="pitch" style="width:48px;height:20px">
                        <option value="2.0">+5</option>
                        <option value="1.8">+4</option>
                        <option value="1.6">+3</option>
                        <option value="1.4">+2</option>
                        <option value="1.2">+1</option>
                        <option selected value="1.0">0</option>
                        <option value="0.9">-1</option>
                        <option value="0.8">-2</option>
                        <option value="0.7">-3</option>
                        <option value="0.6">-4</option>
                        <option value="0.5">-5</option>
                                                
                    </select>
                    </td>
                    <td></td>
                    <td width="40" align="center">Speaker: </td>
                    <td width="5"></td>
                    <td width="85" align="left">
                    <select name="speaker" id="speaker" style="width:85px;height:25px">
                        <option value="sunhi">sunhi</option>
                    </select>
                    </td>
                </tr>
            </tbody>
            </table>
            <div align="center">
            <textarea name="need_decoding_str" style="height: 100px; width: 545px;"></textarea>
            </div>
            <div align="center">
            <input type='submit' value="Say it" style="height: 30px; width: 550px;">
            </div>
        </form>
        <div align="center" style="margin: 0 auto; height: auto; width: 550px;">
            <h4 align="left">{{ text }}</h4>
        </div>
        <div align="center">
            <audio controls src="{{arg}}" align="center" style="height: 40px; width: 550px;">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </div>
        <div align="center" style="border: 1; margin: 0 auto; height: auto; width: 550px;">
            <h4 align="left" style="color:blue">합성 세부 정보</h4>
            <h5 align="left">Speaker: {{ speaker }}</h5>
            <h5 align="left">Speed: {{ spd }}</h5>
            <h5 align="left">Pitch: {{ pitch }}</h5>
            <h5 align="left">입력 문장: {{ text }}</h5>
            <h5 align="left">전처리된 문장: [<br>
                {% for value in text_list %}
                {{ value }}<br>
                {% endfor %}
                ]
            </h5>
            <h5 align="left">합성된 음성파일 경로: {{ arg }}</h5>
            <h5 align="left">합성에 소요된 시간: {{ time }}</h5>
        </div>
    </body>
</html>